body, html {
  height: 100%;
}

body {
    background-image: linear-gradient(to bottom, #03045E,85%, #0077B6);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

#caja {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10%;
}

#boton {
    margin-top: auto;
    padding: 10px 20px;
    background-color: #90E0EF;
    color: #03045E;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.contenedor {
    display: flex;
    align-items: center;
    gap: 20px;
}

.card {
    width: 200px;
    height: 350px;
    background-color: #0077B6;
    justify-content: center;
    color: #CAF0F8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

