body, html {
  height: 100%;
}

body {
    background-color: black;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

#caja {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10%;
}

#boton {
    margin-top: auto;
    padding: 10px 20px;
    background-color: #00B4D8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    position:relative;
    bottom: 25px;
}

.contenedor {
    display: flex;
    align-items: center;
    gap: 5px;
}

.card {
    width: 275px;
    height: 450px;
    background-color: #090D21;
    justify-content: center;
    color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    overflow: hidden;
}



.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    .title {
        background-color: #162762;
    }
}


.title {
    width: inherit;
    height:inherit;
    background-color: inherit;
    justify-content: center;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 0 10px;
}

.body {
    width: inherit;
    height: inherit;
    background-color: inherit;
    justify-content: center;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 0 10px;
    text-align: left;
}

.card:hover .body{
    background-color: #13173E;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.name {
    border-style: solid;
    border-color: #4DBCC8;
    border-width: 1px;
    border-radius: 20px;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    color: #4DBCC8;
}

.list {
    padding: 10px 10px;
    color: white;

}

ul li::marker {
    color: #4DBCC8;
    size: 15px;
}


.slogan {
    font-weight: lighter;
    color: #7B8DA5;
}

.mes{
    vertical-align: super;
    font-size: small;
    color: #7B8DA5;
}

h1{
    display: inline;
}

p{
    display: inline;
}